<div class="container card">
  <h2 class="u-text-center u-text-uppercase">PREVIEW ORDER</h2>
  <div>
    <div class="u-text-center u-text-uppercase u-grid-2">
      <div>
        <small>
          {{ data.side }}
          {{ data.side.toLowerCase() == "buy" ? "from" : "to" }} market
        </small>
        <h1>{{ data.tickerLable }}</h1>
      </div>
      <div>
        <small> quantity </small>
        <h1>{{ data.quantity }}</h1>
      </div>
    </div>

    <div class="u-margin-y-md">
      <table>
        <tr>
          <td>Portfolio</td>
          <td>{{ data.portfolio.name }}</td>
        </tr>
        <tr>
          <td>Estimated Price</td>
          <td>${{ estimatedPrice }}</td>
        </tr>
        <tr>
          <td>Quantity</td>
          <td>{{ data.quantity }}</td>
        </tr>
        <tr class="last-row">
          <td>Estimated Total</td>
          <td>${{ estimatedPrice * data.quantity }}</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="u-text-center u-text-uppercase u-grid-2">
    <button class="u-danger" (click)="onClose()">Close</button>
    <button (click)="onSubmit()">Submit</button>
  </div>
</div>
