<div style="display: block" class="chart">
  <canvas
    baseChart
    [datasets]="labelMFL"
    [labels]="lineChartLabels"
    [type]="'line'"
  ></canvas>

  <ul *ngFor="let data of graphData$ | async">
    <li>
      {{ data }}
    </li>
  </ul>
  {{ num }}
</div>
