<app-brand-nav></app-brand-nav>

<div class="u-page-center">
  <div class="card">
    <div class="u-text-center">
      <h2>Create an Account</h2>
    </div>

    <form (ngSubmit)="onSubmit()">
      <div class="card-content">
        <div class="form-control" style="color: black; text-align: left">
          <label for="name">Name</label>
          <input type="text" name="name" id="name" [(ngModel)]="form.name" />
        </div>

        <div class="form-control" style="color: black; text-align: left">
          <label for="email">Email</label>
          <input type="text" name="email" id="email" [(ngModel)]="form.email" />
        </div>

        <div class="form-control" style="color: black; text-align: left">
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            [(ngModel)]="form.password"
          />
        </div>

        <div class="form-control" style="color: black; text-align: left">
          <label for="password">Confirm Password</label>
          <input
            type="password"
            name="confirm-password"
            id="confirm-password"
            [(ngModel)]="confirmPassword"
          />
        </div>
      </div>

      <div class="u-text-center">
        <p class="u-padding-sm" style="color: black">
          Already have an account? <a routerLink="/client/login">Sign in</a>
        </p>

        <button type="submit">Create Account</button>
      </div>
    </form>
  </div>
</div>
