<div class="bg-image">
  <mat-toolbar style="background-color: transparent" class="bg-text">
    <mat-toolbar-row style="font-size: 18px">
      <span class="u-spacer"></span>
      <app-brand [dark]="false"></app-brand>
      <span class="u-spacer"></span>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
