<app-brand-nav></app-brand-nav>

<div class="u-page-center">
  <div class="card">
    <div class="u-text-center">
      <h2>Sign in</h2>
    </div>

    <form (ngSubmit)="onSubmit()">
      <div>
        <div class="form-control">
          <label for="email">Email</label>
          <input type="text" name="email" id="email" [(ngModel)]="form.email" />
        </div>

        <div class="form-control">
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            [(ngModel)]="form.password"
          />
        </div>
      </div>

      <div class="u-text-center">
        <p class="u-padding-sm">
          Not registered yet?
          <a routerLink="/client/register">Create an Account</a>
        </p>

        <button type="submit">Sign in</button>
      </div>
    </form>
  </div>
</div>
