<h4>HOLDINGS</h4>
<table mat-table [dataSource]="holdingSource" class="mat-elevation-z0">
  <ng-container [matColumnDef]="item" *ngFor="let item of holdingColumns">
    <th mat-header-cell *matHeaderCellDef>
      <small style="text-transform: uppercase; color: #fff">
        {{ COLS[item] || item }}</small
      >
    </th>

    <td
      mat-cell
      *matCellDef="let element"
      style="padding: 10px"
      [ngClass]="calcProfit(element) <= 0 ? 'u-text-danger' : 'u-text-success'"
    >
      <div
        class="button-set"
        *ngIf="item == 'currentPrice' || item == 'profit'; else showItem"
      >
        {{
          item == "profit"
            ? calcProfit(element) + "%"
            : getCurrentPriceFor(element["ticker"].tickerLable)
        }}
      </div>

      <ng-template #showItem>
        {{
          item == "tickerLable" || item == "description"
            ? element["ticker"][item]
            : item == "value"
            ? element[item].toFixed(2)
            : element[item]
        }}
      </ng-template>
    </td>
  </ng-container>

  <tr
    mat-header-row
    *matHeaderRowDef="holdingColumns"
    class="holding-heading"
  ></tr>
  <tr mat-row *matRowDef="let row; columns: holdingColumns"></tr>
</table>

<h4 style="margin-top: 40px">PENDING ORDERS</h4>
<table mat-table [dataSource]="pendingSource" class="mat-elevation-z0">
  <ng-container [matColumnDef]="item" *ngFor="let item of pendingColumns">
    <th mat-header-cell *matHeaderCellDef>
      <small style="text-transform: uppercase; color: #fff">
        {{ COLS[item] || item }}</small
      >
    </th>

    <td mat-cell *matCellDef="let element" style="padding: 10px">
      <button
        class="btn u-danger"
        (click)="cancelOrder(element.exchangeId)"
        *ngIf="item == 'trade_actions'; else elseIf"
      >
        Cancel
      </button>

      <ng-template #elseIf>
        <span *ngIf="item == 'createdAt'; else showItem">
          {{ element.createdAt.slice(11, 16) }} |
          {{ element.createdAt.slice(0, 10) }}
        </span>
      </ng-template>

      <ng-template #showItem>
        {{ item == "price" && element[item] == 0 ? "-" : element[item] }}
      </ng-template>
    </td>
  </ng-container>

  <tr
    mat-header-row
    *matHeaderRowDef="pendingColumns"
    class="pending-heading"
  ></tr>
  <tr mat-row *matRowDef="let row; columns: pendingColumns"></tr>
</table>
