<div class="container card">
  <h2 class="u-text-center u-text-uppercase">CREATE PORTFOLIO</h2>
  <div class="u-margin-y-md">
    <form
      action="
    "
    >
      <div class="form-control">
        <label for="price">Name</label>
        <input
          type="text"
          name="portfolioName"
          id="portfolioName"
          [(ngModel)]="form.portfolioName"
        />
      </div>

      <div class="form-control">
        <label for="price">Amount</label>
        <input
          type="number"
          name="amount"
          id="amount"
          min="0"
          [(ngModel)]="form.amount"
        />
      </div>
    </form>

    <div class="u-text-center u-text-uppercase u-grid-2">
      <button class="u-bg-danger" (click)="onClose()">Close</button>
      <button (click)="onSubmit()">Submit</button>
    </div>
  </div>
</div>
