<div class="container-lg admin-dashboard__overviewContainer">
  <div>all trades</div>
  <div>open trades</div>
  <div>cancelled trades</div>
  <div>failed trades</div>
  <div>successful trades</div>
  <div>filled trades</div>
</div>

<div class="container-lg">
  TRADES
  <div class="admin-dashboard__graphContainer">
    <div>bar graph</div>
    <div>another graph</div>
  </div>
</div>
