.admin-dashboard__overviewContainer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 30px;
  row-gap: 30px;
}

.admin-dashboard__overviewContainer div {
  background-color: #d9d9d9;
  border-left: 4px solid black;
  height: 80px;
  padding: 5px;
}

.admin-dashboard__graphContainer {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 30px;
}

.admin-dashboard__graphContainer div {
  background-color: #d9d9d9;
  height: 300px;
  padding: 5px;
}
