<div style="height: 100vh" class="bg-image">
  <mat-toolbar style="background-color: transparent" class="bg-text">
    <mat-toolbar-row style="font-size: 18px">
      <app-brand [dark]="false"></app-brand>
      <span class="u-spacer"></span>
      <button class="btn-auto" style="padding: 10px 20px" (click)="onLogin()">
        Login
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="container u-page-center h100 banner bg-text">
    <div class="banner-content">
      <h1 class="banner-title">Buy &amp; sell stocks in minutes.</h1>
      <p>
        Connecting all other stock exchange platforms to create a on stop stock
        trading experience.
      </p>
      <button class="btn-auto btn-large" (click)="onGetStarted()">
        Get started now
      </button>
    </div>
  </div>
</div>
