.client-dashboard__header {
  padding: 8px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  position: relative;
}

.client-dashboard__grid {
  display: grid;
  grid-template-columns: 0.32fr 1fr;
  column-gap: 10px;
  height: 350px;
}

.client-dashboard__card {
  background-color: #ececef;
  border-radius: 2px;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.client-dashboard__links ul {
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

.client-dashboard__links {
  overflow-y: auto;
  max-height: 100%;
}

.client-dashboard__links ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.client-dashboard__links {
  max-height: calc(100%-45px);
}

.client-dashboard__links ul {
  list-style-type: none;
  margin: 0;

  padding: 0;
}

.client-dashboard__links ul li {
  padding: 15px;
  cursor: pointer;
}

.client-dashboard__links > ul > li.active {
  background-color: white;
  border-left: 5px solid black;
  font-weight: bold;
}

.client-dashboard__stats {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  column-gap: 25px;
}

.client-dashboard__container .client-dashboard__card {
  padding: 10px;
}

.client-dashboard__container {
  padding: 8px;
}

.client-dashboard__holdings {
  margin-top: 50px;
  padding: 8px;
}
