<!-- exchange -->
<div class="container-lg">
  <span (click)="onExpand('exchange')">Exchange</span>

  <div
    class="admin-configure-system__exchangeContainer"
    *ngIf="expandedItem == 'exchange'"
  >
    <div>
      <form>
        <div class="form-control">
          <label for="label">Label</label>
          <input type="text" name="label" id="label" />
        </div>

        <div class="form-control">
          <label for="endpoint">Endpoint</label>
          <input type="text" name="endpoint" id="endpoint" />
        </div>
      </form>
      <button>Add</button>
    </div>

    <div>
      <table mat-table [dataSource]="exchanges" class="mat-elevation-z0">
        <ng-container [matColumnDef]="item" *ngFor="let item of exchangeCols">
          <th mat-header-cell *matHeaderCellDef>
            <small> {{ item.replaceAll("_", " ").toUpperCase() }}</small>
          </th>

          <td mat-cell *matCellDef="let element">
            <a href="#" *ngIf="item == 'action'; else showItem"
              >delete or suspend</a
            >

            <ng-template #showItem>
              {{ element[item] }}
            </ng-template>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="exchangeCols"></tr>
        <tr mat-row *matRowDef="let row; columns: exchangeCols"></tr>
      </table>
    </div>
  </div>
</div>

<!-- stocks -->
<div class="container-lg">
  <span (click)="onExpand('stock')">Stock</span>

  <div
    class="admin-configure-system__stockContainer"
    *ngIf="expandedItem == 'stock'"
  >
    <div>
      <form>
        <div class="form-control">
          <label for="symbol">Symbol</label>
          <input type="text" name="symbol" id="symbol" />
        </div>

        <div class="form-control">
          <label for="description">Description</label>
          <input type="text" name="description" id="description" />
        </div>
      </form>
      <button>Add</button>
    </div>

    <div>
      <table mat-table [dataSource]="stocks" class="mat-elevation-z0">
        <ng-container [matColumnDef]="item" *ngFor="let item of stockCols">
          <th mat-header-cell *matHeaderCellDef>
            <small> {{ item.replaceAll("_", " ").toUpperCase() }}</small>
          </th>

          <td mat-cell *matCellDef="let element">
            <a href="#" *ngIf="item == 'action'; else showItem">delete</a>

            <ng-template #showItem>
              {{ element[item] }}
            </ng-template>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="stockCols"></tr>
        <tr mat-row *matRowDef="let row; columns: stockCols"></tr>
      </table>
    </div>
  </div>
</div>
