.admin-configure-system__exchangeContainer,
.admin-configure-system__stockContainer {
  display: grid;
  grid-template-columns: 0.32fr 1fr;
  column-gap: 50px;
}

span {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}
