:root {
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}

.client-trade__gridContainer {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  column-gap: 30px;
}

.client-trade__gridContainer > div {
  /* background-color: cyan; */
}

select {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

ul * {
  font-size: 1.2rem;
}
