<div class="container-lg client-trade__gridContainer">
  <div class="card client-trade__form">
    <form>
      <div class="form-control">
        <label for="symbol">Symbol</label>
        <select
          id="symbol"
          name="symbol"
          [(ngModel)]="form.tickerLable"
          (change)="updatePrices()"
        >
          <option
            *ngFor="let t of tickers$ | async"
            value="{{ t.tickerLable }}"
          >
            {{ t.tickerLable }}
          </option>
        </select>
      </div>

      <div class="form-control">
        <label for="orderType">Order Type</label>
        <select id="orderType" name="orderType" [(ngModel)]="form.orderType">
          <option value="MARKET">MARKET</option>
          <option value="LIMIT">LIMIT</option>
        </select>
      </div>

      <div class="form-control">
        <label for="side">Action</label>
        <select id="side" name="side" [(ngModel)]="form.side">
          <option value="BUY">BUY</option>
          <option value="SELL">SELL</option>
        </select>
      </div>

      <div class="form-control">
        <label for="quantity">Quantity</label>
        <input
          type="number"
          name="quantity"
          id="quantity"
          min="0"
          [(ngModel)]="form.quantity"
        />
      </div>

      <div class="form-control" *ngIf="form.orderType == 'LIMIT'">
        <label for="price">Price</label>
        <input
          type="number"
          name="price"
          id="price"
          min="0"
          [(ngModel)]="form.price"
        />
      </div>

      <div class="form-control">
        <label for="portfolio">Portfolio</label>
        <select [(ngModel)]="form.portfolio.id" name="portfolio" id="portfolio">
          <option
            *ngFor="let p of userPortfolios$ | async"
            [ngValue]="p.portfolioId"
          >
            {{ p.portfolioName }}
          </option>
        </select>
      </div>
    </form>
    <button (click)="onPreviewOrder()">Preview Order</button>
  </div>

  <div class="card client-trade__performanceGraph">
    <h1>{{ form.tickerLable }}</h1>
    <div>
      <ul>
        <li class="u-text-danger">selling at: {{ prices.bid }}</li>
        <li class="u-text-info">buy at: {{ prices.ask }}</li>
        <li>last traded price: {{ prices.last }}</li>
      </ul>
    </div>
  </div>
</div>
