.scrolling-wrapper {
  background: #333;
  height: 40vh;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  align-items: center;
}

.scrolling-wrapper .card {
  flex: 0 0 auto;
  background-color: white;
  width: 20vw;
  height: 90%;
  margin: 10px;
}

.trends-list {
  display: grid;
  grid-template-columns: auto auto;
}

.trends-list-item {
  width: 500px;
  height: 500px;
  padding: 20px;
}
