@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: "UberMove";
  src: url(assets/font/UberMoveMedium.otf) format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "UberMove";
  src: url(assets/font/UberMoveBold.otf) format("opentype");
  font-weight: bold;
}

:root {
  --sm: 5px;
  --md: 35px;
}

* {
  box-sizing: border-box;
  font-family: "UberMove", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

button,
input,
select,
option {
  font-size: 1.1rem;
}

button {
  padding: 10px;
  font-weight: 600;
  display: block;
  width: 100%;
  background-color: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: none;
}

button:hover {
  opacity: 0.9;
}

button:active {
  opacity: 0.8;
}

.container {
  padding: 0.01em 16px;
}

.container-lg {
  padding: 30px;
}

.card {
  padding: 20px 40px;
  box-shadow: 0px 0px 4px 0.2px rgb(187, 187, 187);
  border-radius: 10px;
  background-color: white;
}

.flat {
  box-shadow: none;
}

.card-content {
  margin: 30px 0;
}

.form-control {
  margin: 20px 0;
  padding: 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-auto {
  width: auto;
  padding: 8px;
  font-size: initial;
}

/* utility classes */
.u-body-bg-light-auth {
  background-color: #fbfbfe;
}

.u-page-center {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.u-text-center {
  text-align: center;
}

.u-padding-sm {
  padding: var(--sm);
}

.u-margin-y-md {
  margin-top: var(--md);
  margin-bottom: var(--md);
}

.u-text-uppercase {
  text-transform: uppercase;
}

.u-spacer {
  flex: 1 1 auto;
}

.u-grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
}

.u-outlined {
  border: 1px solid #d9d9d9;
}

.u-text-danger {
  color: #d44333;
}

.u-bg-danger {
  background-color: #d44333;
}

.u-danger {
  background-color: #d44333;
  color: white;
}

.bg-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("/assets/landing-image.jpg");
  background-size: cover;
}

.u-text-success {
  color: #3aa76d;
}

.u-text-info {
  color: #276ef1;
}
